<div id="registration" *ngIf="!rls.userIsLogged">

        <h1>
                <span class="loginForm" *ngIf="!registration"> Login </span>
                <span class="loginForm" *ngIf="registration"> Registration </span>
        </h1>
 <div class="loginInputForm">
        <div>
              <span class="login-reg-field-text">  username : </span>
                <input class="login-reg-input-field" [(ngModel)]="rls.user.username" type="text" placeholder="username" minlength="5" maxlength="25" required>
        </div>

        <div>
                        <span class="login-reg-field-text">    password : </span>
                <input class="login-reg-input-field" [(ngModel)]="rls.user.password" type="password" placeholder="password" minlength="5" maxlength="25" required>
        </div>
</div>
        <div class="registerInputForm" *ngIf="registration">

                <div >
                                <span class="login-reg-field-text">        image : </span> <input type="file" style="display: inline-block;margin-left: 3%;" (change)="onFileSelected($event);"/>
                </div>
                <div>
                                <span class="login-reg-field-text">              country : </span>
                        <input class="login-reg-input-field" style="margin-left:2%;" [(ngModel)]="rls.user.country" type="text" placeholder="country" required>
                </div>

                <div>
                                <span class="login-reg-field-text">           city : </span>
                        <input class="login-reg-input-field"  style="margin-left:6%;" [(ngModel)]="rls.user.city" type="text" placeholder="city" maxlength="30" required>
                </div>

                <div>
                                <span class="login-reg-field-text">          telephone : </span>
                        <input class="login-reg-input-field"  [(ngModel)]="rls.user.telephone" type="text" placeholder="telephone" maxlength="20" required>
                </div>

                <div>
                                <span class="login-reg-field-text">       mail : </span>
                        <input class="login-reg-input-field"  style="margin-left:5%;"[(ngModel)]="rls.user.mail" type="text" placeholder="mail" minlength="10" maxlength="30" required>
                </div> 
        </div>

        <div *ngIf="!registration">
                <button type="button" class="btn btn-warning already-registered" (click)="changeToRegistrationScreen()">not registered </button>
                <button type="button" class="btn btn-primary login-register-button" (click)="login()"> Login </button>
        </div>


        <div *ngIf="registration ">
                <button type="button" class="btn btn-warning already-registered" (click)="changeToLoginScreen()">Already registered </button>
                <button type="button" class="btn btn-primary login-register-button" (click)="register()"> Register </button>
        </div>


        <div *ngIf="rls.showRegistrationMessage">

                <div *ngIf="rls.registrationSuccess">
                        registered successfully
                </div>
                <div *ngIf="!rls.registrationSuccess">
                        registration failed
                </div>


        </div>


</div>
<div>
        <home *ngIf="rls.userIsLogged" [loggedUser]="rls.user" > </home>
</div>