<p>
  
  <span class="my-advertisement" > My advertisements </span>
</p>
<div class="advertisement-style" *ngFor="let advertisement of advertisements">
    
  <div style="float:right;font-size:30px;color:red">
    
    <button type="button" class="btn btn-danger" (click)="deleteAdvertisement(advertisement.advertisementId);">Delete <span class="glyphicon glyphicon-remove"></span> </button>

      </div>
      <div class="images" *ngFor="let image of advertisement.images">
          <img src="{{imageDecoder}},{{image.imageContent}}" width="250" height="250" />
  
      </div>
     
      <a class="title" (click)="showAdvertisement(advertisement);"> {{advertisement.title}}</a>
      <span class="price"> {{advertisement.price}} lv</span>  
  
      <div>
          
            <span> <i class="fa fa-map-marker" aria-hidden="true"></i> {{advertisement.creator.city}} </span>
            <span> <i class="fa fa-calendar" aria-hidden="true"></i> {{advertisement.createDate}} </span>
            <div style="font-size: 122%;display: inline-block;margin-left: 4%;">
                state: 
                <abbr title="Approved"><span *ngIf="advertisement.advertisementStatus === 'APR' " class="glyphicon glyphicon-ok"></span> </abbr>
                <abbr title="rejected"> <span *ngIf="advertisement.advertisementStatus === 'RJT' " class="glyphicon glyphicon-remove"></span> </abbr>
                 <abbr title="Waiting approve">   <span *ngIf="advertisement.advertisementStatus === 'WAP' " class="glyphicon glyphicon-refresh"></span> </abbr>
                 <abbr title="Deleted">   <span *ngIf="advertisement.advertisementStatus === 'DEL' " class="glyphicon glyphicon-trash"></span> </abbr>
               </div>
            
            <div class="like-icon">
            <i *ngIf="!advertisement.loggedUserLike" class="fa fa-thumbs-o-up "
            (click)="addLike(advertisement);">  </i>
            <i *ngIf="advertisement.loggedUserLike" class="fa fa-thumbs-down" (click)="dislike(advertisement);"></i>
            {{advertisement.likes.likeCount}}
           </div>
          
   </div>   
    
  </div>