<div >
    
     <h1> registration </h1>
        <div> 
                username : <input type="text" placeholder="username" required>
        </div>

        <div> 
                password : <input type="text" placeholder="password" required>
        </div>

        <div> 
                country : <input type="text" placeholder="country" required>
        </div>

        <div> 
                city : <input type="text" placeholder="city" required>
        </div>

        <div> 
                telephone : <input type="text" placeholder="telephone" required>
        </div>

        <div> 
                mail : <input type="text" placeholder="mail" required>
        </div>

       

</div>