<div id="home">Online web platform

    <!-- 
    <button id="login-home" *ngIf="!showLgnScr" (click)="changeToLoginScreen()" > login </button>
    <registerLogin *ngIf="showLgnScr"></registerLogin> -->
<div *ngIf="!newAdvertisement">
    Welcome tr 
  
        <a (click)="createAdvertisementScreen();" >  create you advertisement </a>
        <div class="advertisement-style" *ngFor="let advertisement of advertisements"> {{advertisement}}</div>

    </div>


</div>
<addAdvertisement *ngIf="newAdvertisement" hero="petur"> new adv</addAdvertisement>