#home{
    text-align: center;
   font-size: 70px;
   background-color:rgb(82, 199, 253);
}

#login-home{
    float: right;
    size: 300px;
}

.advertisement-style{
    background-color:rgb(82, 199, 253);
    padding : 1%;
}

.loggedUserIcon{
    color:yellowgreen;
}