<div id="home">

   
    <div *ngIf="!newAdvertisement && !showUserProfile">       
<!-- 

        <a (click)="createAdvertisementScreen();"> create you advertisement </a> -->

        <div class="current-advertisement">Current advertisements </div>

<div>
     
        <div class="advertisement-style" *ngFor="let advertisement of advertisements">

           
            <div class="images" *ngFor="let image of advertisement.images">
                <img src="{{imageDecoder}},{{image.imageContent}}" width="250" height="250" />

            </div>
            <span class="title"> {{advertisement.title}}</span>
            <span class="price"> {{advertisement.price}} lv</span>
            
           
            <span *ngIf="advertisement.creator != null && loggedUser != null && advertisement.creator.username === loggedUser.username" 
            style="float: right;" (click)="deleteAdvertisement(advertisement.advertisementId);">
             <i class="fa fa-remove" style="font-size:48px;color:red"></i> 
            </span> 
        
            <div>
                   
                     <span> <i class="fa fa-map-marker" aria-hidden="true"></i> {{advertisement.creator.city}} </span>
                     <span> <i class="fa fa-calendar" aria-hidden="true"></i> {{advertisement.createDate}} </span>
                     
                     <div class="like-icon">
                     <i *ngIf="!advertisement.loggedUserLike" class="fa fa-thumbs-o-up "
                     (click)="addLike(advertisement);">  </i>
                     <i *ngIf="advertisement.loggedUserLike" class="fa fa-thumbs-down" (click)="dislike(advertisement);"></i>
                     {{advertisement.likes.likeCount}}
                    </div>

            </div>
        </div>
    </div>
    </div>


</div>
<addAdvertisement *ngIf="newAdvertisement" [loggedUser]="loggedUser"></addAdvertisement>
<profile *ngIf="showUserProfile" [loggedUser]="loggedUser">

</profile>