<div id="home">Online web platform

    <!-- 
    <button id="login-home" *ngIf="!showLgnScr" (click)="changeToLoginScreen()" > login </button>
    <registerLogin *ngIf="showLgnScr"></registerLogin> -->
<div *ngIf="!newAdvertisement">
    Welcome tr 
  
        <a (click)="createAdvertisementScreen();" >  create you advertisement </a>
        <div class="advertisement-style" *ngFor="let advertisement of advertisements"> {{advertisement.title}}

            <div *ngFor="let image of advertisement.images"  style="background-color:red;" >
                <span style="background-color:red;"> </span>

                <img id="ItemPreview" src="{{imageDecoder}},{{image.imageContent}}" />


            </div>

        </div>

    </div>


</div>
<addAdvertisement *ngIf="newAdvertisement" [loggedUser]="loggedUser" ></addAdvertisement>