<div class="new-advertisement-group">

  <h1 class="create-new-group"> Create new advertisement group
  </h1>
<div style="margin-left:30%;">
  <span class="new-group-fields"> group name : </span>
  <input type="text" placeholder=" group name " [(ngModel)]="advertisementGroupName" (input)="validateGroupName()"> 
</div>

<button type="button" class="btn btn-primary" (click)="createAdvertisementGroup();" [disabled]="!valid"> create </button>

  <p class="create-new-group"  style="margin-left:30%;" *ngIf="success">Group createt succesfully</p>
</div>
<div style="margin-bottom: 7%;"></div>