#home{
    
    font-size: 70px;
    /* background-color:rgb(82, 199, 253); */
 }
 
 #login-home{
     float: right;
     size: 300px;
 }
 
 .advertisement-style{  font-size: 70px;
     width: 84%;
    margin-left: 9%;
    margin-top: 2%;
     padding : 1%;    
     background-color: yellow;
     border-style: solid;
 }
 
 .loggedUserIcon{
     color:yellowgreen;
 }
 
 .advertisement-cell{
     color:red;
 }
 .advertisement-cell .title{
     font-size:80px;
     border-bottom: solid red;
     display: inline-block;
 }
 .images{
     display: inline-block;
     cursor: pointer;
 }
 
 .like-icon{
     cursor: pointer;
     float: right;
 }

 .shop-image-icon{
    width: 250px;
    height: 250px;    
 }

 .shop-image-second-icon{
    width: 250px;
    height: 250px;
    margin-left: 86%;    
    margin-top: -14%;
 }
 .header-title{
     color:yellow;
      
     margin-left: 21%;
     margin-bottom: -38px;    
     font-size: 800%;
     font-style: italic;
 }

.navbar-nav li:hover{
    background-color: blue;            
}

.current-advertisement{
font-family: italic;
font-size: 119%;
float: center;
margin-left: 31%;
color: yellow;
}

.price {
    display: inline-block;
    float: right;
  
}
.title{
    color:#008B8B;
    margin-left: 2%;
}
.title:hover{
    color:white;
    background-color: #008B8B;
    cursor: pointer;
}

.fa-map-marker{
    color:#008B8B;
}
.fa-calendar{
    margin-left: 2%;
}

.create-advertisement{
    font-family: italic;
    font-size: 500%;
    float: center;
    margin-left: 31%;
    color: yellow;
}

.new-advertisement-inputs input,
.new-advertisement-group input{
    width:30%;
    height: 40px;
}
.new-advertisement-inputs textarea{
    width:30%;
    height: 40px;
}
.new-advertisement-inputs{
    margin-top: 2%;
    margin-left: 40%;
}


.new-advertisement-inputs input:focus , .new-advertisement-group input:focus{
  background-color: yellow;
}
.new-advertisement-inputs textarea:focus{
    background-color: yellow;
}
.advertisement-field-text, .new-group-fields {
    font-family: italic;
    font-size: 40px;
    color: yellow;
}

.create-button{
    margin-top: 5%;
    width: 39%;
    font-size: 400%;
}


.search-by-advertisement-group span, .create-new-group{
    font-family: italic;
    font-size: 500%;
    float: center;
    margin-left: 27%;
    color: yellow;
}
.my-advertisement , .admin-screen{
    font-family: italic;
    font-size: 500%;
    float: center;
    margin-left: 37%;
    color: yellow;
}
.search-by-advertisement-group select{
    width: 12%;
    height: 30px;
}

.groups-message{
    color:red;
}


.new-advertisement-group button{
    margin-left:30%;
    margin-top: 5%;
    width: 31%;
    font-size: 400%;
}

.approve-button , .reject-button{
    width: 14%;
    height: 54px;
}
/* collapsible */
.reject-button{
    margin-top: -4%;
}