#home{
    
    font-size: 70px;
    /* background-color:rgb(82, 199, 253); */
 }
 
 #login-home{
     float: right;
     size: 300px;
 }
 
 .advertisement-style{
     /* background-color:rgb(82, 199, 253); */
     padding : 1%;
     /* margin-left:16%; */
     background-color: yellow;
     border-style: solid;
 }
 
 .loggedUserIcon{
     color:yellowgreen;
 }
 
 .advertisement-cell{
     
 }
 .advertisement-cell .title{
     font-size:80px;
     border-bottom: solid red;
     display: inline-block;
 }
 .images{
     display: inline-block;
 }
 
 .like-icon{
     cursor: pointer;
 }

 .shop-image-icon{
    width: 250px;
    height: 250px;    
 }

 .shop-image-second-icon{
    width: 250px;
    height: 250px;
    margin-left: 86%;    
    margin-top: -14%;
 }
 .header-title{
     color:yellow;
      
     margin-left: 21%;
     margin-bottom: -38px;    
     font-size: 800%;
     font-style: italic;
 }