<div>
    
     <h1 class="create-advertisement"> Create your own advertisement </h1>

     <div class="new-advertisement-inputs">

      <span class="advertisement-field-text">  title : </span> <input type="text" placeholder="title" [(ngModel)]="advertisement.title" ><br>
      <span class="advertisement-field-text">   info  : </span> <textarea [(ngModel)]="advertisement.information" >  </textarea>
    <br>
    <span class="advertisement-field-text">    price : </span><input type="text" placeholder="price" [(ngModel)]="advertisement.price" > 

         <br>

         <span class="advertisement-field-text"> image :  </span><input type="file" (change)="onFileSelected($event);" style="display:inline-block;"/>
         <div>
  <button type="button" class="btn btn-primary create-button" (click)="createAdvertisement();" > create </button>
</div>
    </div>
</div>