<div class="content">

  <div> 
    
      <img class="shop-image-icon"
      src="https://cdn2.iconfinder.com/data/icons/shopping-e-commerce-3/512/laptop-store-512.png">
     
    <span class="header-title">Web Shop</span>
    <img class="shop-image-second-icon"
   src="https://cdn2.iconfinder.com/data/icons/shopping-e-commerce-3/512/laptop-store-512.png">
  </div>
  
  <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"></a>
        </div>
        <ul class="nav navbar-nav">         
          <li class="active" (click)="setActive($event)" >
              <a routerLink="/home">home </a>
            </li>
          <li (click)="setActive($event)">
            <a routerLink="/addAdvertisement"> create new advertisement </a>
          </li>       
          <li (click)="setActive($event)" >
              <a routerLink="/searchByAdvertisementGroup" >Advanced search              
                <span class="glyphicon glyphicon-search"></span>
              </a>
            </li>
            <li *ngIf="loggedUser != null" (click)="setActive($event)">
              <a routerLink="/myAdvertisement" > My Advertisement </a>
            </li>
            <li *ngIf="loggedUser != null && loggedUser.user_state === 2" (click)="setActive($event)">
                <a routerLink="/admin" > Approval <i class="fa fa-shield" aria-hidden="true"></i> </a>
              </li>
              <li *ngIf=" loggedUser != null && loggedUser.user_state === 2" (click)="setActive($event)"> 
                <a routerLink="/newAdvertisementGroup" >new Group <i class="fa fa-shield" aria-hidden="true"></i> </a>
              </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li *ngIf="!loggedUser" (click)="setActive($event)">
            <a routerLink="/login">
              <span class="glyphicon glyphicon-log-in"></span> Login</a>
          </li>
          <li *ngIf="loggedUser" (click)="setActive($event)" >
            <a>
              <span> <a routerLink="/profile"> {{loggedUser.username}} </a> </span> <span class="glyphicon glyphicon-log-out" (click)="logout();"></span> Logout </a>
          </li>
          
        </ul>
      </div>
    </nav>
  
    <router-outlet></router-outlet>

    <div style="margin-top: 4%;"> 
        
          <img class="shop-image-icon"
          src="https://cdn2.iconfinder.com/data/icons/shopping-e-commerce-3/512/laptop-store-512.png">
         
        <!-- <span class="header-title">Web Shop</span> -->
        <img class="shop-image-second-icon"
       src="https://cdn2.iconfinder.com/data/icons/shopping-e-commerce-3/512/laptop-store-512.png">
      </div>
</div>