<div>


    <div class="profile-image">
        <span *ngIf="!loggedUser.userImages"> This User don't have images</span>

        <div *ngFor="let image of loggedUser.userImages">
            <img id="ItemPreview" src="{{imageDecoder}},{{image.imageContent}}" />
        </div>

    </div>

    <div class="user-fields">
        <div *ngIf="loggedUser.username" class="user-name-style" >
            {{loggedUser.username}}
        </div>
        <div *ngIf="loggedUser.country">
           <span class="profile-field-text" >  country: </span> {{loggedUser.country}}
        </div>
        <div *ngIf="loggedUser.telephone">
                <span class="profile-field-text" >  city: </span> {{loggedUser.city}}
        </div>
        <div>
                <span class="profile-field-text" >   telephone: </span> {{loggedUser.telephone}}
        </div>
        <div *ngIf="loggedUser.mail">
                <span class="profile-field-text" >    mail: </span> {{loggedUser.mail}}
        </div>

        <div>
                <span class="profile-field-text" >     advertisements by this user: </span>

            <div *ngIf="!advertisementByUser">
                    <span class="profile-field-text" >       This user don't have public advertisements. </span>

            </div>

            <div *ngIf="advertisementByUser">



                <div class="advertisement-style" *ngFor="let advertisement of advertisementByUser">



                    <div class="images" *ngFor="let image of advertisement.images">
                        <img src="{{imageDecoder}},{{image.imageContent}}" width="250" height="250" />

                    </div>                    

                    <span style="    float: right;">date : {{advertisement.createDate.substring(0,10)}}</span>

                    <div class="title"> title : {{advertisement.title}}</div>

                    <div class="advertisement-cell">


                        <div class="information"> {{advertisement.information}}</div>
                        <div class="price"> {{advertisement.price}}</div>


                    </div>

                    <div>
                        <i *ngIf="!advertisement.loggedUserLike" class="fa fa-thumbs-o-up like-icon" (click)="addLike(advertisement);"> </i>
                        <i *ngIf="advertisement.loggedUserLike" class="fa fa-thumbs-down" (click)="dislike(advertisement);"></i>
                        {{advertisement.likes.likeCount}}

                        <i class="fa fa-comment"></i>
                    </div>
                </div>

            </div>

        </div>
    </div>