<div id="registration">

        <h1>
                <span *ngIf="!registration"> Login </span>
                <span *ngIf="registration"> Registration </span>
        </h1>
        <div>
                username :
                <input [(ngModel)]="user.username" type="text" placeholder="username" minlength="5" maxlength="25" required>
        </div>

        <div>
                password :
                <input [(ngModel)]="user.password" type="password" placeholder="password" minlength="5" maxlength="25" required>
        </div>

        <div *ngIf="registration">
                <div>
                        country :
                        <input [(ngModel)]="user.country" type="text" placeholder="country" required>
                </div>

                <div>
                        city :
                        <input [(ngModel)]="user.city" type="text" placeholder="city" maxlength="30" required>
                </div>

                <div>
                        telephone :
                        <input [(ngModel)]="user.telephone" type="text" placeholder="telephone" maxlength="20" required>
                </div>

                <div>
                        mail :
                        <input [(ngModel)]="user.mail" type="text" placeholder="mail" minlength="10" maxlength="30" required>
                </div>
        </div>

        <div *ngIf="!registration">
                <button type="button" (click)="changeToRegistrationScreen()">not registered </button>
                <button type="button" (click)="login()"> Login </button>
        </div>


        <div *ngIf="registration ">
                <button type="button" (click)="changeToLoginScreen()">Already registered </button>
                <button type="button" (click)="register()"> Register </button>
        </div>


        <div *ngIf="rls.showRegistrationMessage">

                <div *ngIf="rls.registrationSuccess">
                        registered successfully
                </div>
                <div *ngIf="!rls.registrationSuccess">
                        registration failed
                </div>


        </div>
</div>