
  welcome admin



  <div class="advertisement-style" *ngFor="let advertisement of advertisements">

    {{advertisement.title}}
    <div class="images" *ngFor="let image of advertisement.images">
      <img src="{{imageDecoder}},{{image.imageContent}}" width="250" height="250" />




      
  <span> by user : {{advertisement.creator.username}}</span>
<!-- 
            <span style="float: right;">date : {{advertisement.createDate.substring(0,10)}}</span> -->
           
           
            <div class="advertisement-cell">


                <div class="information"> {{advertisement.information}}</div>
                <div class="price"> price : {{advertisement.price}}</div>


            </div>
<div>
  <button type="button" class="btn btn-primary" (click)="approveAdvertisement(advertisement.advertisementId)">Approve</button>
  <button type="button" class="btn btn-danger" style="float:right;" (click)="rejectAdvertisement(advertisement.advertisementId)" >Reject</button>
</div>

  </div>

  

