 <span class="admin-screen"> Approval screen</span>



<div class="advertisement-style" *ngFor="let advertisement of advertisements">

  <div class="images" *ngFor="let image of advertisement.images">
    <img src="{{imageDecoder}},{{image.imageContent}}" width="250" height="250" />

    <a class="title" (click)="showAdvertisement(advertisement);"> {{advertisement.title}}</a>
    <span class="price"> {{advertisement.price}} lv</span>
    
    <div>

    
        <div>
      <button type="button" class="btn btn-primary approve-button" (click)="approveAdvertisement(advertisement.advertisementId)">Approve</button>

      Please select the group: 
      <select (change)="onGroupSelected($event.target.value)">
        <option *ngFor="let group of groups" [ngValue]="c">{{group.groupName}}</option>
      </select>

      <button type="button" class="btn btn-danger reject-button" style="float:right;margin-left: 800px;" (click)="rejectAdvertisement(advertisement.advertisementId)">Reject</button>
    </div>
      
    </div>

  </div>