<div id="registration" >
    
     <h1>  {{chosenOperation}} {{user.username}}  </h1>
                <div> 
                        username : <input [(ngModel)]="user.username" type="text" placeholder="username"  minlength="5" maxlength="25" required>
                </div>

                <div> 
                        password : <input [(ngModel)]="user.password" type="password" placeholder="password"  minlength="5" maxlength="25" required>
                </div>

        <div *ngIf="registration" >
                <div> 
                        country :  <input [(ngModel)]="user.country" type="text" placeholder="country" required>
                </div>
        
                <div> 
                        city :     <input [(ngModel)]="user.city" type="text" placeholder="city"  maxlength="30"  required>
                </div>
                        
                <div> 
                        telephone : <input [(ngModel)]="user.telephone" type="text" placeholder="telephone"  maxlength="20"  required>
                </div>

                <div> 
                        mail : <input  [(ngModel)]="user.mail" type="text" placeholder="mail" minlength="10" maxlength="30" required>
                </div>
        </div>
        <button type="button" (click)="register()">{{buttonName}}</button>

</div>